<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/buger_style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/burgers.js"></script>
	</head>
	<body>

	<div class="container text-center main-text">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4">Eat-Da-Burger</h1>
				<img class="rounded mx-auto d-bloc" style="height:255px; width:305px" src="https://lh3.googleusercontent.com/proxy/vnwWd0xeQfomXuDLc7qvJKfMNc5n6BC_jm9CxBiW1WPK4RQ8niCgfxFum3HhsGaWVBYf6bpj8KYTmGpZoIns6JsPQrkaCGnfxTfCOw" alt="burger">
				<p class="lead">Order a burger to devour!</p>
			</div>
		</div>
	</div>
	{{{ body }}}
	
</body>

</html>
