li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: orange;
  }
  
  .form-group {
    margin-bottom: 5px;
  }.main-text {
    background-color: #fbefcc!important;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  body {
    background-color: #fbefcc;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    justify-content: space-between;
    display: flex;
  }
  
  .devour-btn, 
  #submit-burger {
    background-color: darkgoldenrod;
    border-color: #f9ccac;
  }
  
  .devour-btn:hover, 
  #submit-burger:hover {
    background-color: lightsalmon;
    border-color: #f4a688;
  }
  
  form {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  #input-label {
    font-size: 24px;
  }
  